{% extends "main.html" %}

{% block content %}
<div class="row">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID#</th>
				<th>Name</th>
				<th>Info</th>
				<th>Building</th>
				<th>Units</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for village_id in data.bot %}
				<tr>
					<td>{{village_id}}</td>
					<td>{{data.bot[village_id].public.name}}</td>
					<td>
						<img src="/static/images/wood.png" /> {{data.bot[village_id].resources.wood}}
						<img src="/static/images/stone.png" /> {{data.bot[village_id].resources.stone}}
						<img src="/static/images/iron.png" /> {{data.bot[village_id].resources.iron}}
						<img src="/static/images/worker.png" /> {{data.bot[village_id].resources["pop"]}}
					</td>
					<td>{% if village_id in data.config.villages %} {{data.config.villages[village_id].building}} {% else %} No config {% endif %}</td>
					<td>{% if village_id in data.config.villages %} {{data.config.villages[village_id].units}} {% else %} No config {% endif %}</td>
					<td>
						<a href="map?center={{village_id}}" class="btn btn-success btn-sm">Map</a>
						<a href="village?id={{village_id}}" class="btn btn-success btn-sm">Config</a>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						{% for unit in data.bot[village_id].troops %}
							<img src="/static/images/unit_{{unit}}.png" alt="{{unit}}" /> {{data.bot[village_id].troops[unit]}}
						{% endfor %}
					</td>
					<td>
						Building: {{data.bot[village_id].queued | count}}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}
