{% extends "main.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-8">
        {{ config | safe }}
    </div>
    <div class="col-lg-4">
        <h4>Villages</h4>
        <ul class="list-group">
                {% for village in data.bot %}
                <li class="list-group-item {% if current_select == village %} active {% endif %} ">
                    <a class="list-group-item-action" href="/village?id={{data.bot[village].public.id}}">{{data.bot[village].public.name}} ({{data.bot[village].public.location}})</a>
                    {% if current_select == village %}
                        <button id="save_config" class="btn btn-success btn-sm float-right disabled">Save</button>
                    {% endif %}
                </li>
                {% endfor %}

        </ul>
    </div>

</div>
<script>

</script>
{% endblock %}
